@import "tailwindcss";

@theme {
  --color-luxury-dark: #0b0b0a;
  --color-luxury-card: #141412;
  --color-luxury-gold: #c5a880;
  --color-luxury-earth: #4a3e3d;
  --color-luxury-clay: #8c7a6b;

  --font-sans: "Inter", sans-serif;
  --font-display: "Playfair Display", serif;
}

body {
  background-color: var(--color-luxury-dark);
  color: white;
  font-family: var(--font-sans);
}
